<h1>Beweg dich v0.0001</h1>
Starting Location (lat, lon):
<span id="lat">???</span>°, <span id="lon">???</span>°

<div id="mapdiv"></div>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    var startPos;
    var dis;

    window.onload = function () {
        var startPos;
        var dis;
        alert("Blub")
        navigator.geolocation.getCurrentPosition(function (position) {
            startPos = position;
            document.getElementById('dis').innerHTML = position.coords.latitude;
            window.location.href = "http://www.google.com/";
        });

        navigator.geolocation.watchPosition(function (position) {
            document.getElementById('currentLat').innerHTML = position.coords.latitude;
            document.getElementById('currentLon').innerHTML = position.coords.longitude;
            document.getElementById('distance').innerHTML =
                    calculateDistance(startPos.coords.latitude, startPos.coords.longitude,
                            position.coords.latitude, position.coords.longitude);
        });
        alert(startPos + " " + dis);
    };

    navigator.geolocation.getCurrentPosition(function (position) {
        startPos = position;
        document.getElementById('lat').innerHTML = position.coords.latitude;
        document.getElementById('lon').innerHTML = position.coords.latitude;
        showmap();
    });

    function showmap() {
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(startPos.coords.longitude, startPos.coords.latitude)
                .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                );

        var zoom = 16;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    }



</script>
