<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^__init__\.py$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /__init__.py [L]
</IfModule>