{% load cookielaw_tags %}

<!DOCTYPE html>
<html>
<head>
    {% include "parts/head.html" %}
</head>
<body data-introduction="{{ section.introduction|default:"false" }}"
      data-longitude="{{ section.location.longitude|default:"0" }}"
      data-latitude="{{ section.location.latitude|default:"0" }}"
      data-format-date="{{ section.format.date|default:"YYYY/MM/DD" }}"
      data-format-time="{{ section.format.time|default:"hh:mm A" }}"
      data-format-dateTime="{{ section.format.dateTime|default:"YYYY/MM/DD [at] hh:mm A" }}"
      data-format-countdown="{{ section.format.countdown|default:"m:ss" }}">
<progress id="ajax-progress" value="0"></progress>
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        {% include "parts/menu-left.html" %}
    </div>
    <div class="snap-drawer snap-drawer-right">
        {% include "parts/menu-right.html" %}
    </div>
</div>
<div id="content" class="snap-content">
    {% block content %}{% endblock %}
    {% include "parts/errors.html" %}
    {% include "parts/jsTemplates.html" %}
    {% cookielaw_banner %}
</div>
{% include "parts/modals.html" %}
</body>
</html>