{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    {% include "parts/head.html" %}
</head>
<body>
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        {% include "parts/menu-left.html" %}
    </div>
    <div class="snap-drawer snap-drawer-right">
        {% include "parts/menu-right.html" %}
    </div>
</div>
<div id="content" class="snap-content">
    <progress id="ajax-progress" value="0"></progress>
    {% block content %}{% endblock %}
    {% include "parts/jsTemplates.html" %}
    {% include "parts/errors.html" %}
</div>
</body>
</html>