{% extends "base.html" %}

{% block content %}
    {% include "parts/header.html" %}

    <div class="container-fluid">
        <p>Hochschule für angewandte Wissenschaften Augsburg</p>
        <p>An der Hochschule 1<br>
            86161 Augsburg<br>
            Deutschland</p>
        <p>vertreten durch den Präsidenten Prof. Dr.-Ing. Dr. h.c. Hans-Eberhard Schurk</p>
        <p>Telefon: +49 821 55860<br>
            Fax: +49 821 55863222<br>
            E-Mail: <a
                    href="mailto:fi-ss16beweg-dich-app@hs-augsburg.de">fi-ss16beweg-dich-app@hs-augsburg.de</a><br>
            USt-ID-Nr.: DE811335517</p>
        <h3>Zuständige Aufsichtsbehörde</h3>
        <p>Bayerisches Staatsministerium<br>
            für Bildung und Kultus,<br>
            Wissenschaft und Kunst<br>
            80327 München</p>
        <h3>Rechtliche Hinweise zur Webseite</h3>
        <p>Alle Texte, Bilder und weiter hier veröffentlichten Informationen unterliegen dem Urheberrecht des
            Anbieters, soweit nicht Urheberrechte Dritter bestehen. In jedem Fall ist eine Vervielfältigung,
            Verbreitung oder öffentliche Wiedergabe ausschließlich im Falle einer widerruflichen und nicht
            übertragbaren Zustimmung des Anbieters gestattet.</p>
        <p>Linksetzungen, welche auf die Inhalte der vorliegenden Website verweisen, bedürfen der Zustimmung des
            Anbieters. Eine solche Zustimmung ist bei jeder grundlegenden Veränderung des Inhaltes der Webseite, von
            welcher die Verlinkung erfolgt, neu zu beantragen, sie kann jederzeit formlos widerrufen werden. Eine
            Verlinkung von Seiten mit illegalen, anstößigen, irreführenden oder diffamierenden Inhalten ist in jedem
            Fall ausgeschlossen.</p>
        <p>Die Inhalte der Webseite werden mit größter Sorgfalt erstellt. Dennoch kann keine Garantie für Aktualität
            und Vollständigkeit übernommen werden.</p>
        <p>Für alle mittels Querverweis (Link) verbundene Webinhalte übernimmt der Anbieter keine Verantwortung, da
            es sich dabei um keine eigenen Inhalte handelt. Externe Links wurden auf rechtswidrige Inhalte
            überprüft, zum Zeitpunkt der Verlinkung waren solche nicht erkennbar. Bezüglich fremder Inhalte besteht
            jedoch keine allgemeine Überwachungs- und Prüfungspflicht.</p>
        <p>Aufgeführte Warenzeichen und Markennamen sind Eigentum ihrer jeweiligen Inhaber.</p>
    </div>
{% endblock %}