{% extends "base.html" %}
{% load i18n %}

{% block title %}Beweg Dich | Home{% endblock %}

{% block content %}
    <div id="search">
        <div class="search-container container-fluid">
            <div class="search-field form-group has-feedback">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="snap-open-left btn btn-secondary">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </span>
                    <input type="text" id="s" class="form-control"
                           placeholder="{% trans "Destination" %}" autocomplete="off"/>
                    <i class="form-control-feedback status-default fa fa-search"></i>
                    <i class="form-control-feedback status-loading fa fa-spinner fa-pulse"></i>
                    <i class="form-control-feedback status-disabled fa fa-ban"></i>
                    <span class="input-group-btn">
                        <button type="button" class="snap-open-right btn btn-secondary">
                            <i class="fa fa-fw fa-wrench"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="navigation" class="container-fluid">
        <ul class="destination text-center">
            <li><i class="fa fa-male"></i>
                <span>{% trans "Walking destination:" %}</span> <span>Rotes Tor</span></li>
            <li><i class="fa fa-subway"></i>
                <span>{% trans "Final destination:" %}</span> <span>Königsplatz</span></li>
            <li><i class="fa fa-clock-o"></i>
                <span>{% trans "Departure:" %}</span> <span>2.30 Uhr</span></li>
        </ul>
        <div class="time text-center">
            <i class="fa fa-2x fa-tachometer"></i> <span>2 Minuten</span>
        </div>
    </div>
    <div id="map" class="map"></div>
    <div id="routes" class="panel-group" role="tablist" aria-multiselectable="true"></div>
{% endblock %}