{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% include "parts/header.html" %}

    <div class="container-fluid">
        <h1>{% trans "Privacy" %}</h1>
        <p><strong>Herzlich Willkommen auf unserer Webseite!</strong></p>
        <p>Wir legen größten Wert auf den Schutz Ihrer Daten und die Wahrung Ihrer Privatsphäre. Nachstehend informieren
            wir Sie deshalb über die Erhebung und Verwendung persönlicher Daten bei Nutzung unserer Webseite.</p>
        <h3>Anonyme Datenerhebung</h3>
        <p>Sie können unsere Webseite besuchen, ohne Angaben zu Ihrer Person zu machen. Wir speichern in diesem
            Zusammenhang keinerlei persönliche Daten. Um unser Angebot zu verbessern, werten wir lediglich statistische
            Daten aus, die keinen Rückschluss auf Ihre Person erlauben.</p>
        <h3>Protokollierung von Daten</h3>
        <p>Wenn Sie die Webseiten der Hochschule Augsburg besuchen, werden nachfolgende Daten bei jeden Zugriff in einer
            Protokolldatei gespeichert:</p>
        <ul>
            <li>Name bzw. IP-Adresse des anfragenden Rechners</li>
            <li>Name Ihres Internet-Zugangs-Providers</li>
            <li>Datum und Uhrzeit des Zugriffs</li>
            <li>Name und URL der abgerufenen Datei</li>
            <li>Übertragene Datenmenge</li>
            <li>Meldung, ob der Abruf erfolgreich war</li>
        </ul>
        <p>Diese Daten werden nicht zur Erstellung personenbezogener Nutzerprofile verwendet.</p>
        <p>Betreiber der Webserver ist das <a href="http://www.hs-augsburg.de/einrichtung/rz/index.html"
                                              target="_blank">Rechenzentrum</a> der Hochschule Augsburg.</p>
        <h3>Cookies</h3>
        <p>Unsere Internetseiten verwenden an mehreren Stellen so genannte Cookies. Cookies sind kleine Textdateien, die
            auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie dienen dazu, unser Angebot
            nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren ermöglichen Cookies unseren Systemen,
            Ihren Browser zu erkennen und Ihnen Services anzubieten. Cookies enthalten keine personenbezogenen
            Daten.</p>
        <h3>Zugriffsanalyse</h3>
        <p> Diese Website nutzt die Open-Source-Software Piwik für die statistische Auswertung von Besucherzugriffen.
            Die von Piwik erfassten Daten werden nicht und niemals auf andere Server übertragen oder an Dritte
            weitergegeben, sondern in anonymisierter Form dazu verwendet, unser Angebot zu verbessern. IP-Adressen
            werden in Piwik ohne das letzte Tupel gespeichert. Wir wissen, aus welchem Netz eine Anfrage kam, nicht
            jedoch von welchem Rechner.</p>
        <p>Sie können die Datenerfassung durch Piwik deaktivieren. Sofern Ihr Browser die "Do-Not-Track"-Technik
            unterstützt und Sie diese aktiviert haben, wird ihr Besuch automatisch ignoriert.</p>
        <p>Durch die Nutzung dieser Website erklären Sie sich mit der Verarbeitung der über Sie erhobenen Daten durch
            Piwik in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
    </div>
{% endblock %}