{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% include "parts/header.html" %}

    <div class="container-fluid">
        <h1>{% trans "Privacy" %}</h1>
        <p><strong>Herzlich Willkommen auf unserer Webseite!</strong></p>
        <p>Wir legen größten Wert auf den Schutz Ihrer Daten und die Wahrung Ihrer Privatsphäre. Nachstehend informieren
            wir Sie deshalb über die Erhebung und Verwendung persönlicher Daten bei Nutzung unserer Webseite.</p>
        <h3>Anonyme Datenerhebung</h3>
        <p>Sie können unsere Webseite besuchen, ohne Angaben zu Ihrer Person zu machen. Wir speichern in diesem
            Zusammenhang keinerlei persönliche Daten. Um unser Angebot zu verbessern, werten wir lediglich statistische
            Daten aus, die keinen Rückschluss auf Ihre Person erlauben.</p>
        <h3>Protokollierung von Daten</h3>
        <p>Wenn Sie die Webseiten der Hochschule Augsburg besuchen, werden nachfolgende Daten bei jeden Zugriff in einer
            Protokolldatei gespeichert:</p>
        <ul>
            <li>Name bzw. IP-Adresse des anfragenden Rechners</li>
            <li>Name Ihres Internet-Zugangs-Providers</li>
            <li>Datum und Uhrzeit des Zugriffs</li>
            <li>Name und URL der abgerufenen Datei</li>
            <li>Übertragene Datenmenge</li>
            <li>Meldung, ob der Abruf erfolgreich war</li>
        </ul>
        <p>Diese Daten werden nicht zur Erstellung personenbezogener Nutzerprofile verwendet.</p>
        <p>Betreiber der Webserver ist das <a href="http://www.hs-augsburg.de/einrichtung/rz/index.html"
                                              target="_blank">Rechenzentrum</a> der Hochschule Augsburg.</p>
        <h3>Cookies</h3>
        <p>Unsere Internetseiten verwenden an mehreren Stellen so genannte Cookies. Cookies sind kleine Textdateien, die
            auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie dienen dazu, unser Angebot
            nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren ermöglichen Cookies unseren Systemen,
            Ihren Browser zu erkennen und Ihnen Services anzubieten. Cookies enthalten keine personenbezogenen
            Daten.</p>
        <h3>Nutzung von Google Analytics</h3>
        <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics
            verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre
            Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort
            gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von
            Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
            Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle
            IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers
            dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports
            über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
            verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics
            von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie
            können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern;
            wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser
            Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie
            erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die
            Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare
            Browser-Plugin herunterladen und installieren
            [http://tools.google.com/dlpage/gaoptout?hl=de].<strong></strong></p>
    </div>
{% endblock %}