 {% load staticfiles %}

<!DOCTYPE html>
<html>
    
    <head>
        <title>
            App
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-tap-highlight" content="no">
        <link href="files/resources/lib/theme/jqm/jqm.css" rel="stylesheet" />
        <link href="files/resources/lib/theme/flat-ui/flat-ui.css" rel="stylesheet" />
        <link href="files/resources/lib/jquerymobile/1.4.4/jquery.mobile.structure-1.4.4.css"
        rel="stylesheet" />
        <script type="text/javascript" src="files/resources/lib/underscore/underscore.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/store/json2.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/jquery/jquery-2.1.1.js">
        </script>
        <script type="text/javascript">
                    $(document).bind("mobileinit", function()
            {
                if (navigator.userAgent.toLowerCase().indexOf("android") != -1)
                {
                    $.mobile.defaultPageTransition = 'none';
                    $.mobile.defaultDialogTransition = 'none';
                }
                else if (navigator.userAgent.toLowerCase().indexOf("msie") != -1)
                {
                    $.mobile.allowCrossDomainPages = true;
                    $.support.cors = true;
                }
                else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/g))
                {
                    $.mobile.hashListeningEnabled = false;
                }
            });
        </script>
        <script type="text/javascript" src="files/resources/lib/jquerymobile/1.4.4/jquery.mobile-1.4.4.js">
        </script>
        <script type="text/javascript" src="files/resources/js/mobilebase.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/event/customEventHandler.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/sha1.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/oauth.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/contexts.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/jquery.xml2json.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/q/q.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/EventEmitter.js/EventEmitter.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/tv4/tv4.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/dist/localforage.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-setitems/localforage-setitems.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-find/localforage-find.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/crypto-js-md5/crypto-js-md5.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/moment/moment.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/underscore-query/underscore-query.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/offline/offline.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/client-sdk.js">
        </script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true">
        </script>
        <script type="text/javascript" src="files/resources/lib/jquery-ui-map/jquery.ui.map.full.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/appery.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/component-manager.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/mapping-impl.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/entity-api.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/login.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/storage-api.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/get_target_platform.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/cordova.js">
        </script>
        <link href="files/resources/css/mobilebase.css" rel="stylesheet" type="text/css"
        />
        <script type="text/javascript" src="../../static/files/views/assets/js/services/model.js">
        </script>
        <script type="text/javascript" src="../../static/files/views/assets/js/services/service.js">
        </script>
    </head>
    
    <body>
        <script language="JavaScript" type="text/javascript">
                
        </script>
        <div data-role="page" style="min-height:480px;" dsid="App" id="App" class="type-interior"
        data-theme="a">
            <!-- mobileheader1 -->
            <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back"
            data-theme="a" name="mobileheader1" id="App_mobileheader1" class="App_mobileheader1">
                <h1 dsid="mobileheader1">
                    Wegfinder
                </h1>
                <!-- mobilebutton_11 --><!--
                --><a data-role="button" name="mobilebutton_11" dsid="mobilebutton_11" class="App_mobilebutton_11 ui-btn-left"
                id="App_mobilebutton_11" data-corners="false" data-icon="bars" data-iconpos="right"
                x-apple-data-detectors="false" data-inline='true' data-mini='true' data-theme="a"
                tabindex="2">
                Menu
                </a>
            </div>
            <!-- mobilecontainer1 -->
            <div data-role="content" id="App_mobilecontainer1" name="mobilecontainer1" class="App_mobilecontainer1 ui-content"
            dsid="mobilecontainer1" data-theme="a">
                <link href="{% static "files/App.css"%}" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="{% static "files/App.js"%}">
                </script>
                <!-- mobileworkarea_10 -->
                <div class="App_mobileworkarea_10 App_mobileworkarea_10">
                    <!-- mobileradiogroup_40 -->
                    <div data-role="fieldcontain" class="App_mobileradiogroup_40" id="App_mobileradiogroup_40"
                    dsid="mobileradiogroup_40">
                        <fieldset data-role="controlgroup" data-theme="a">
                            <!-- currentCity_Augsburg -->
                            <span dsid="currentCity_Augsburg" class="App_currentCity_Augsburg" name="currentCity_Augsburg">
                                <input type="radio" name="mobileradiogroup_40" id="App_currentCity_Augsburg" City_Augsburg="0"
                                tabindex="9" value="Augsburg" />
                                <label id="App_currentCity_Augsburg_label" for="App_currentCity_Augsburg">
                                    Augsburg
                                </label>
                            </span>
                            <!-- currentCity_Basel -->
                            <span dsid="currentCity_Basel" class="App_currentCity_Basel" name="currentCity_Basel">
                                <input type="radio" name="mobileradiogroup_40" id="App_currentCity_Basel" City_Basel="0"
                                value="Basel" />
                                <label id="App_currentCity_Basel_label" for="App_currentCity_Basel">
                                    Basel
                                </label>
                            </span>
                        </fieldset>
                    </div>
                    <!-- mobilegrid_25 -->
                    <div class="App_mobilegrid_25_wrapper" data-wrapper-for="mobilegrid_25">
                        <table id="App_mobilegrid_25" class="App_mobilegrid_25" dsid="mobilegrid_25" name="mobilegrid_25"
                        cellpadding=0 cellspacing=0>
                            <col style="width:81px;" />
                            <col style="width:auto;" />
                            <tr class="App_mobilegrid_25_row_0">
                                <!-- mobilegridcell_26 -->
                                <td id="App_mobilegridcell_26" name="mobilegridcell_26" class="App_mobilegridcell_26"
                                colspan=1 rowspan=1>
                                    <div class="cell-wrapper">
                                        <!-- start_label -->
                                        <div name="start_label" id="App_start_label" dsid="start_label" data-role="appery_label"
                                        class="App_start_label">
                                            Start
                                        </div>
                                    </div>
                                </td>
                                <!-- mobilegridcell_27 -->
                                <td id="App_mobilegridcell_27" name="mobilegridcell_27" class="App_mobilegridcell_27"
                                colspan=1 rowspan=1>
                                    <div class="cell-wrapper">
                                        <!-- start_input -->
                                        <div data-role="fieldcontain" class="App_start_input ">
                                            <input type="text" name="start_input" dsid="start_input" value="" placeholder="Startort eingeben"
                                            id="App_start_input" tabindex="5" multiple data-theme="a" class="App_start_input"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="App_mobilegrid_25_row_1">
                                <!-- mobilegridcell_28 -->
                                <td id="App_mobilegridcell_28" name="mobilegridcell_28" class="App_mobilegridcell_28"
                                colspan=1 rowspan=1>
                                    <div class="cell-wrapper">
                                        <!-- destination_label -->
                                        <div name="destination_label" id="App_destination_label" dsid="destination_label"
                                        data-role="appery_label" class="App_destination_label">
                                            Ziel
                                        </div>
                                    </div>
                                </td>
                                <!-- mobilegridcell_29 -->
                                <td id="App_mobilegridcell_29" name="mobilegridcell_29" class="App_mobilegridcell_29"
                                colspan=1 rowspan=1>
                                    <div class="cell-wrapper">
                                        <!-- destination_input -->
                                        <div data-role="fieldcontain" class="App_destination_input ">
                                            <input type="text" name="destination_input" dsid="destination_input" value="" placeholder="Zielort eingeben"
                                            id="App_destination_input" tabindex="6" multiple data-theme="a" class="App_destination_input"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- submit_button --><!--
                    --><a data-role="button" name="submit_button" dsid="submit_button" class="App_submit_button"
                    id="App_submit_button" data-corners="true" data-icon="none" data-iconpos='nowhere'
                    x-apple-data-detectors="false" data-mini="false" data-theme="a" tabindex="10">
                    Submit
                    </a><!--
                    --><!-- show_map -->
                    <div id="App_show_map" dsid="show_map" name="show_map" data-role="appery_googlemap"
                    tiggzitype="object" apperytype="object" class='App_show_map' style='width:100%;'>
                    </div>
                    <ul data-role="listview" id="App_show_map_markers" name="show_map_markers" dsid="show_map_markers"
                    style="display:none">
                        <!-- Mapmarker -->
                        <li id="App_Mapmarker" name="Mapmarker" dsid="Mapmarker" tiggzitype="marker" apperytype="marker"
                        rendered="true" latitude="48.358330" longitude="10.905818" text="Hochschule Augsburg"
                        address="Hochschule Augsburg" show_info="false" style="display:none">
                            <div id="App_Mapmarker_infoWindow" name="Mapmarker_infoWindowContent" class='App_Mapmarker'>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- panel_menu -->
            <div data-role="panel" tabindex="-1" data-position="left" data-display="reveal"
            id="App_panel_menu" class="App_panel_menu" name="panel_menu" dsid="panel_menu" data-theme="a">
                <!-- mobilelist_3 -->
                <ul data-role="listview" id="App_mobilelist_3" class="App_mobilelist_3" name="mobilelist_3"
                dsid="mobilelist_3" data-theme="a" data-divider-theme="b" data-count-theme="b" style=""
                data-split-icon="carat-r">
                    <!-- mobilelistitem_4 -->
                    <li class="App_mobilelistitem_4" data-icon="home">
                        <a id="App_mobilelistitem_4" name="mobilelistitem_4" dsid="mobilelistitem_4" tabindex="1"
                        class="App_mobilelistitem_4">
                        <h3>Home</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_6 -->
                    <li class="App_mobilelistitem_6" data-icon="shop">
                        <a id="App_mobilelistitem_6" name="mobilelistitem_6" dsid="mobilelistitem_6" tabindex="1"
                        class="App_mobilelistitem_6">
                        <h3>Wegfinder</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_8 -->
                    <li class="App_mobilelistitem_8" data-icon="user">
                        <a id="App_mobilelistitem_8" name="mobilelistitem_8" dsid="mobilelistitem_8" tabindex="1"
                        class="App_mobilelistitem_8">
                        <h3>Profil</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>