 {% load staticfiles %}

<!DOCTYPE html>
<html>
    <!--Startseite -->
    <head>
        <title>
            Home
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-tap-highlight" content="no">

        <link href="{% static "files/resources/lib/theme/jqm/jqm.css" %}" rel="stylesheet" />
        <link href="{% static "files/resources/lib/theme/jqm/jqm.css" %}" rel="stylesheet" />
        <link href="{% static "files/resources/lib/theme/flat-ui/flat-ui.css" %}" rel="stylesheet" />
        <link href="{% static "files/resources/lib/jquerymobile/1.4.4/jquery.mobile.structure-1.4.4.css" %}"
        rel="stylesheet" />
        <script type="text/javascript" src="{% static "files/resources/lib/underscore/underscore.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/store/json2.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/jquery/jquery-2.1.1.js"%}" >
        </script>
        <script type="text/javascript">
                    $(document).bind("mobileinit", function()
            {
                if (navigator.userAgent.toLowerCase().indexOf("android") != -1)
                {
                    $.mobile.defaultPageTransition = 'none';
                    $.mobile.defaultDialogTransition = 'none';
                }
                else if (navigator.userAgent.toLowerCase().indexOf("msie") != -1)
                {
                    $.mobile.allowCrossDomainPages = true;
                    $.support.cors = true;
                }
                else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/g))
                {
                    $.mobile.hashListeningEnabled = false;
                }
            });
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/jquerymobile/1.4.4/jquery.mobile-1.4.4.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/js/mobilebase.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/event/customEventHandler.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/sha1.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/oauth.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/contexts.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/jquery.xml2json.min.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/q/q.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/EventEmitter.js/EventEmitter.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/tv4/tv4.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/localforage/dist/localforage.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-setitems/localforage-setitems.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-find/localforage-find.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/crypto-js-md5/crypto-js-md5.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/moment/moment.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/underscore-query/underscore-query.min.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/offline/offline.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/ms_sdk_bundle/client-sdk.js"%}" >
        </script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true">
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/jquery-ui-map/jquery.ui.map.full.min.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/appery.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/component-manager.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/mapping-impl.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/entity-api.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/login.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/base/storage-api.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/get_target_platform.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/resources/lib/cordova.js"%}" >
        </script>
        <link href="{% static "files/resources/css/mobilebase.css"%}" rel="stylesheet" type="text/css"
        />
        <script type="text/javascript" src="{% static "files/views/assets/js/services/model.js"%}" >
        </script>
        <script type="text/javascript" src="{% static "files/views/assets/js/services/service.js"%}" >
        </script>
    </head>

    <body>
        <script language="JavaScript" type="text/javascript">

        </script>
        <div data-role="page" style="min-height:480px;" dsid="Home" id="Home" class="type-interior"
        data-theme="a">
            <!-- mobileheader1 -->
            <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back"
            data-theme="a" name="mobileheader1" id="Home_mobileheader1" class="Home_mobileheader1">
                <h1 dsid="mobileheader1">
                    Home
                </h1>
                <!-- mobilebutton_11 --><!--
                --><a data-role="button" name="mobilebutton_11" dsid="mobilebutton_11" class="Home_mobilebutton_11 ui-btn-left"
                id="Home_mobilebutton_11" data-corners="false" data-icon="bars" data-iconpos="right"
                x-apple-data-detectors="false" data-inline='true' data-mini='true' data-theme="a"
                tabindex="2">
                Menu
                </a>
            </div>
            <!-- mobilecontainer1 -->
            <div data-role="content" id="Home_mobilecontainer1" name="mobilecontainer1" class="Home_mobilecontainer1 ui-content"
            dsid="mobilecontainer1" data-theme="a">
                <link href="{% static "files/home.css"%}" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="{% static "files/home.js"%}"></script>
                <!-- mobileworkarea_10 -->
                <div class="Home_mobileworkarea_10 Home_mobileworkarea_10">
                    <!-- header1 -->
                    <div name="header1" id="Home_header1" dsid="header1" data-role="appery_label" class="Home_header1">
                        Beweg Dich!!!!!
                    </div>
                    <!-- text_startscreen -->
                    <div name="text_startscreen" id="Home_text_startscreen" dsid="text_startscreen"
                    data-role="appery_label" class="Home_text_startscreen">
                        Die erste Version unserer GUI
                    </div>
                    <!-- owner -->
                    <div name="owner" id="Home_owner" dsid="owner" data-role="appery_label" class="Home_owner">
                        erstellt von Christian Gubo
                    </div>
                </div>
            </div>
            <!-- panel_menu -->
            <div data-role="panel" tabindex="-1" data-position="left" data-display="reveal"
            id="Home_panel_menu" class="Home_panel_menu" name="panel_menu" dsid="panel_menu"
            data-theme="a">
                <!-- mobilelist_3 -->
                <ul data-role="listview" id="Home_mobilelist_3" class="Home_mobilelist_3" name="mobilelist_3"
                dsid="mobilelist_3" data-theme="a" data-divider-theme="b" data-count-theme="b" style=""
                data-split-icon="carat-r">
                    <!-- mobilelistitem_4 -->
                    <li class="Home_mobilelistitem_4" data-icon="home">
                        <a id="Home_mobilelistitem_4" name="mobilelistitem_4" dsid="mobilelistitem_4" tabindex="1"
                        class="Home_mobilelistitem_4">
                        <h3>Home</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_6 -->
                    <li class="Home_mobilelistitem_6" data-icon="shop">
                        <a id="Home_mobilelistitem_6" name="mobilelistitem_6" dsid="mobilelistitem_6" tabindex="1"
                        class="Home_mobilelistitem_6">
                        <h3>Wegfinder</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_8 -->
                    <li class="Home_mobilelistitem_8" data-icon="user">
                        <a id="Home_mobilelistitem_8" name="mobilelistitem_8" dsid="mobilelistitem_8" tabindex="1"
                        class="Home_mobilelistitem_8">
                        <h3>Profil</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>