{% extends "base.html" %}

{% block title %}Beweg Dich | Home{% endblock %}

{% block content %}
    <div id="search">
        <div class="search-container container-fluid">
            <div class="col-xs-12">
                <div class="search-field input-group">
                    <span class="input-group-btn">
                        <button type="button" class="snap-open-left btn btn-secondary">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </span>
                    <input type="text" id="s" class="form-control"
                           placeholder="{{ section.destination|default:"Destination" }}"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                        <button type="button" class="snap-open-right btn btn-secondary">
                            <i class="fa fa-fw fa-history"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="map" class="map" data-snap-ignore="true"></div>
    <div id="route" class="panel-group" role="tablist"></div>
{% endblock %}