<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>

Navigation von <em>{{ route.path.0.name }}</em> nach <em>{{ route.destination_stop.name }}</em>
<br>Dauer: {{ route.duration.seconds }} Sekunden
<ul>
{% for stop in route.path %}
    <li>
        {%  if forloop.first %}
            Ursprung:
        {%  elif forloop.last %}
            Ankunft:
        {%  endif %}
        <em> {{ stop.name }} </em>
        <ul>
            {%  if stop.depaturetime.hour %}
                <li>Abfahrtszeit: {{ stop.depaturetime.hour }}:{{ stop.depaturetime.minute }}</li>
            {%  endif %}
            {%  if stop.isWalking %}
                <li>zu Fuß</li>
            {%  endif %}
            {%  if stop.data.platformName %}
                <li>Bahnsteig: {{ stop.data.platformName }} </li>
            {%  endif %}
            <li>lat: {{ stop.lat }}</li>
            <li>lng: {{ stop.lng }}</li>

        </ul>
    </li>
{% endfor %}
</ul>

</body>
</html>