
 {% load staticfiles %}
<!DOCTYPE html>
<html>
    
    <head>
        <title>
            Profil
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-tap-highlight" content="no">
        <link href="files/resources/lib/theme/jqm/jqm.css" rel="stylesheet" />
        <link href="files/resources/lib/theme/flat-ui/flat-ui.css" rel="stylesheet" />
        <link href="files/resources/lib/jquerymobile/1.4.4/jquery.mobile.structure-1.4.4.css"
        rel="stylesheet" />
        <script type="text/javascript" src="files/resources/lib/underscore/underscore.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/store/json2.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/jquery/jquery-2.1.1.js">
        </script>
        <script type="text/javascript">
                    $(document).bind("mobileinit", function()
            {
                if (navigator.userAgent.toLowerCase().indexOf("android") != -1)
                {
                    $.mobile.defaultPageTransition = 'none';
                    $.mobile.defaultDialogTransition = 'none';
                }
                else if (navigator.userAgent.toLowerCase().indexOf("msie") != -1)
                {
                    $.mobile.allowCrossDomainPages = true;
                    $.support.cors = true;
                }
                else if (navigator.userAgent.match(/(iPad|iPhone|iPod)/g))
                {
                    $.mobile.hashListeningEnabled = false;
                }
            });
        </script>
        <script type="text/javascript" src="files/resources/lib/jquerymobile/1.4.4/jquery.mobile-1.4.4.js">
        </script>
        <script type="text/javascript" src="files/resources/js/mobilebase.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/event/customEventHandler.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/sha1.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/oauth.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/contexts.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/jquery.xml2json.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/q/q.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/EventEmitter.js/EventEmitter.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/tv4/tv4.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/dist/localforage.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-setitems/localforage-setitems.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/localforage/plugins/localforage-find/localforage-find.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/crypto-js-md5/crypto-js-md5.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/moment/moment.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/underscore-query/underscore-query.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/offline/offline.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/ms_sdk_bundle/client-sdk.js">
        </script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true">
        </script>
        <script type="text/javascript" src="files/resources/lib/jquery-ui-map/jquery.ui.map.full.min.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/appery.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/component-manager.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/mapping-impl.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/entity-api.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/login.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/base/storage-api.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/get_target_platform.js">
        </script>
        <script type="text/javascript" src="files/resources/lib/cordova.js">
        </script>
        <link href="files/resources/css/mobilebase.css" rel="stylesheet" type="text/css"
        />
        <script type="text/javascript" src="../../static/files/views/assets/js/services/model.js">
        </script>
        <script type="text/javascript" src="../../static/files/views/assets/js/services/service.js">
        </script>
    </head>
    
    <body>
        <script language="JavaScript" type="text/javascript">
                
        </script>
        <div data-role="page" style="min-height:480px;" dsid="Profil" id="Profil" class="type-interior"
        data-theme="a">
            <!-- mobileheader1 -->
            <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back"
            data-theme="a" name="mobileheader1" id="Profil_mobileheader1" class="Profil_mobileheader1">
                <h1 dsid="mobileheader1">
                    Profil
                </h1>
                <!-- mobilebutton_11 --><!--
                --><a data-role="button" name="mobilebutton_11" dsid="mobilebutton_11" class="Profil_mobilebutton_11 ui-btn-left"
                id="Profil_mobilebutton_11" data-corners="false" data-icon="bars" data-iconpos="right"
                x-apple-data-detectors="false" data-inline='true' data-mini='true' data-theme="a"
                tabindex="2">
                Menu
                </a>
            </div>
            <!-- mobilecontainer1 -->
            <div data-role="content" id="Profil_mobilecontainer1" name="mobilecontainer1" class="Profil_mobilecontainer1 ui-content"
            dsid="mobilecontainer1" data-theme="a">
                <link href="{% static "files/profil.css"%}" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="{% static "files/profil.js"%}">
                </script>
                <!-- mobileworkarea_10 -->
                <div class="Profil_mobileworkarea_10 Profil_mobileworkarea_10">
                    <!-- mobiletextinput_25 -->
                    <div data-role="fieldcontain" class="Profil_mobiletextinput_25 ">
                        <input type="text" name="mobiletextinput_25" dsid="mobiletextinput_25" value=""
                        placeholder="First name" id="Profil_mobiletextinput_25" tabindex="6" multiple data-theme="a"
                        data-mini="true" class="Profil_mobiletextinput_25" />
                    </div>
                    <!-- mobiletextinput_27 -->
                    <div data-role="fieldcontain" class="Profil_mobiletextinput_27 ">
                        <input type="text" name="mobiletextinput_27" dsid="mobiletextinput_27" value=""
                        placeholder="Last name" id="Profil_mobiletextinput_27" tabindex="8" multiple data-theme="a"
                        data-mini="true" class="Profil_mobiletextinput_27" />
                    </div>
                    <!-- mobiletextinput_26 -->
                    <div data-role="fieldcontain" class="Profil_mobiletextinput_26 ">
                        <input type="email" name="mobiletextinput_26" dsid="mobiletextinput_26" value=""
                        placeholder="Email" id="Profil_mobiletextinput_26" tabindex="7" multiple data-theme="a"
                        data-mini="true" class="Profil_mobiletextinput_26" />
                    </div>
                    <div data-role="fieldcontain" class="Profil_mobilecheckboxgroup_20" id="Profil_mobilecheckboxgroup_20"
                    dsid="mobilecheckboxgroup_20">
                        <fieldset data-role="controlgroup" data-theme="a" data-mini="true" class="">
                            <span dsid="mobilecheckbox_21" class="Profil_mobilecheckbox_21" name="mobilecheckbox_21">
                                <input type="checkbox" name="mobilecheckboxgroup_20" id="Profil_mobilecheckbox_21"
                                checked="checked" tabindex="5" value="Notifications" />
                                <label id="Profil_mobilecheckbox_21_label" for="Profil_mobilecheckbox_21">
                                    Notifications
                                </label>
                            </span>
                        </fieldset>
                    </div>
                    <!-- mobilebutton_33 --><!--
                    --><a data-role="button" name="mobilebutton_33" dsid="mobilebutton_33" class="Profil_mobilebutton_33"
                    id="Profil_mobilebutton_33" data-corners="true" data-icon="check" data-iconpos="right"
                    x-apple-data-detectors="false" data-inline="true" data-mini="true" data-theme="a"
                    tabindex="12">
                    Update
                    </a>
                </div>
            </div>
            <!-- panel_menu -->
            <div data-role="panel" tabindex="-1" data-position="left" data-display="reveal"
            id="Profil_panel_menu" class="Profil_panel_menu" name="panel_menu" dsid="panel_menu"
            data-theme="a">
                <!-- mobilelist_3 -->
                <ul data-role="listview" id="Profil_mobilelist_3" class="Profil_mobilelist_3" name="mobilelist_3"
                dsid="mobilelist_3" data-theme="a" data-divider-theme="b" data-count-theme="b" style=""
                data-split-icon="carat-r">
                    <!-- mobilelistitem_4 -->
                    <li class="Profil_mobilelistitem_4" data-icon="home">
                        <a id="Profil_mobilelistitem_4" name="mobilelistitem_4" dsid="mobilelistitem_4"
                        tabindex="1" class="Profil_mobilelistitem_4">
                        <h3>Home</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_6 -->
                    <li class="Profil_mobilelistitem_6" data-icon="shop">
                        <a id="Profil_mobilelistitem_6" name="mobilelistitem_6" dsid="mobilelistitem_6"
                        tabindex="1" class="Profil_mobilelistitem_6">
                        <h3>Wegfinder</h3>
                        </a>
                    </li>
                    <!-- mobilelistitem_8 -->
                    <li class="Profil_mobilelistitem_8" data-icon="user">
                        <a id="Profil_mobilelistitem_8" name="mobilelistitem_8" dsid="mobilelistitem_8"
                        tabindex="1" class="Profil_mobilelistitem_8">
                        <h3>Profil</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>