
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Profil_mobilebutton_11 {

}
.ui-btn.Profil_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Profil_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.Profil_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobiletextinput_25 */
.Profil_mobiletextinput_25 {
	margin: 4px 0px 4px 0px;
}
/* mobiletextinput_27 */
.Profil_mobiletextinput_27 {
	margin: 4px 0px 4px 0px;
}
/* mobiletextinput_26 */
.Profil_mobiletextinput_26 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckboxgroup_20 */
.Profil_mobilecheckboxgroup_20 {
	margin: 4px 0px 4px 0px;
}
/* mobilecheckbox_21 */
.Profil_mobilecheckbox_21 {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilebutton_33 */
#Profil_mobilebutton_33 {

}
.ui-btn.Profil_mobilebutton_33 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter1 */
.Profil_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Profil_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Profil_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Profil_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Profil_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.Profil_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.Profil_mobilelistitembutton_9 {

}