{% load i18n %}

<div id="errors">
    <div class="errors-container container-fluid">
        <div id="error" class="error col-xs-12 text-center">
            <span></span>
        </div>
        <div id="error-location-denied" class="error col-xs-12 text-center">
            <span>{% trans "No permission to get your position." %}</span>
        </div>
        <div id="error-location-unavailable" class="error col-xs-12 text-center">
            <span>{% trans "Your position is unavailable." %}</span>
        </div>
        <div id="error-request" class="error col-xs-12 text-center">
            <span>{% trans "Request error." %}</span>
        </div>
    </div>
</div>