{% load compile_static %}
{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<title>{{ section.title|default:"Beweg Dich" }}</title>
<link href="{% static "assets/less/style.less"|compile %}" rel="stylesheet"/>
<script type="text/javascript" src="{% static "assets/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.resize.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.loadTemplate.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.autocomplete.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap-slider.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/snap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/leaflet.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/leaflet-providers.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.ajax.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.error.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.template.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.layout.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.slideMenu.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.settings.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.location.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.map.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.route.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.navigation.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.search.js" %}"></script>
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80119700-1', 'auto');
    ga('send', 'pageview');
    ga('set', 'anonymizeIp', true);
</script>
<link rel="icon" href="{% static "assets/images/app/icon-32x32.png" %}" sizes="32x32"/>
<link rel="icon" href="{% static "assets/images/app/icon-revert-192x192.png" %}" sizes="192x192"/>
<link rel="apple-touch-icon-precomposed" href="{% static "assets/images/app/icon-revert-180x180.png" %}"/>
<meta name="msapplication-TileImage" content="{% static "assets/images/app/icon-revert-270x270.png" %}"/>
<link rel="icon" href="{% static "assets/images/app/icon.svg" %}" sizes="any" type="image/svg+xml"/>