{% load compile_static %}
{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<title>{% block title %}{{ section.title|default:"Beweg Dich" }}{% endblock %}</title>
<link href="{% static "assets/less/style.less"|compile %}" rel="stylesheet"/>
<script type="text/javascript" src="{% static "assets/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/snap.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/leaflet.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/leaflet-providers.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.loadTemplate.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.autocomplete.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.ajax.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.error.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.slideMenu.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.location.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.map.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/app.search.js" %}"></script>