{% load i18n %}

<div class="col-xs-12">
    <h3 class="snap-close">{% trans "Settings" %}<i class="fa fa-times pull-right"></i></h3>
    <div class="form-group">
        <label>{% trans "Walking speed" %}</label>
        <input id="setting-speed" type="text" name="speed"
               data-slider-min="{{ section.settings.speed.min|default:"0.1" }}"
               data-slider-max="{{ section.settings.speed.max|default:"2" }}"
               data-slider-step="{{ section.settings.speed.step|default:"0.1" }}"
               data-slider-value="{{ section.settings.speed.value|default:"1" }}"/>
        <span class="pull-left">{% trans "slow" %}</span>
        <span class="pull-right">{% trans "fast" %}</span>
    </div>
</div>