{% load i18n %}

<script type="text/html" id="template-navigation">
    <ul class="destination">
        <li>
            <i class="fa fa-fw fa-subway"></i> <span data-content="walkingDestination"></span>
        </li>
        <li>
            <i class="fa fa-fw fa-flag-checkered"></i> <span data-content="finalDestination"></span>
        </li>
        <li>
            <i class="fa fa-fw fa-clock-o"></i> <span data-content="departuretime"></span>
        </li>
    </ul>
    <div class="time">
        <i class="fa fa-2x fa-hourglass-half"></i> <span data-content="duration"></span>
    </div>
</script>