{% load i18n %}

<script type="text/html" id="template-route">
    <div class="route panel panel-default" data-template-bind='[
        {"attribute": "id", "value": "routeId"},
        {"attribute": "data-walking-destination", "value": "walkingDestination"}]'>
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="info-button fa fa-info-circle pull-right" data-toggle="modal"
                   data-target="#modal-route-details"></i>
                <span>{% trans "Walking destination:" %}</span> <span data-content="originStop"></span>
            </h3>
        </div>
        <div class="panel-body">
            <ul class="detail">
                <li>
                    <i class="fa fa-clock-o"></i>
                    <span>{% trans "Duration:" %}</span> <span data-content="duration"></span>
                </li>
                <li>
                    <i class="fa fa-subway"></i>
                    <span>{% trans "Final destination:" %}</span> <span data-content="destinationStop"></span>
                </li>
            </ul>
            <button class="route-select btn btn-primary"><i class="fa fa-compass"></i> {% trans "Navigate" %}</button>
        </div>
    </div>
</script>