
/* Define default spinner */
.ui-icon-loading {
	background: url("/static/files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#App_mobilebutton_11 {

}
.ui-btn.App_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.App_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.App_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* mobileradiogroup_40 */
.App_mobileradiogroup_40 {
	margin: 4px 0px 4px 0px;
}
/* currentCity_Augsburg */
.App_currentCity_Augsburg {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* currentCity_Basel */
.App_currentCity_Basel {
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
/* mobilegrid_25 */
.App_mobilegrid_25 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.App_mobilegrid_25_wrapper {

}
.App_mobilegrid_25 > tr > td {
	vertical-align: top;
}
.App_mobilegrid_25_row_0, .App_mobilegrid_25_row_0 > td {
	height: 30px
}
.App_mobilegrid_25_row_1, .App_mobilegrid_25_row_1 > td {
	height: 30px
}
/* mobilegridcell_26 */
.App_mobilegridcell_26 {
	height:30px !important;
	width:77px;
	padding: 2px 2px 2px 2px;
}
.App_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* start_label */
.App_start_label {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 13px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_27 */
.App_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.App_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* start_input */
.App_start_input {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_28 */
.App_mobilegridcell_28 {
	height:30px !important;
	width:77px;
	padding: 2px 2px 2px 2px;
}
.App_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* destination_label */
.App_destination_label {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 13px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_29 */
.App_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.App_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* destination_input */
.App_destination_input {
	margin: 4px 0px 4px 0px;
}
/* submit_button */
#App_submit_button {

}
.ui-btn.App_submit_button {
	margin: 4px 150px 4px 5px;
}
/* show_map */
.App_show_map {
	width: 320px; height: 320px;
	margin: 4px 0px 4px 0px;
}
/* Mapmarker */
.App_Mapmarker {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilefooter1 */
.App_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.App_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.App_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .App_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.App_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.App_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.App_mobilelistitembutton_9 {

}