
/* Define default spinner */
.ui-icon-loading {
	background: url("/static/files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_11 */
#Home_mobilebutton_11 {

}
.ui-btn.Home_mobilebutton_11 {

}
/* mobilecontainer1 */
.ui-content.Home_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* mobileworkarea_10*/
.Home_mobileworkarea_10 {
	background-color: transparent;
	padding: 0px;
}
/* header1 */
.Home_header1 {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 24px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* text_startscreen */
.Home_text_startscreen {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 14px;
	margin: 15px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* owner */
.Home_owner {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 300px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter1 */
.Home_mobilefooter1 {
	min-height:38px;
}
/* panel_menu */
.Home_panel_menu .ui-panel-inner {
	padding: 0px 15px 15px 15px;
}
.Home_panel_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .Home_mobilelist_3 {
	margin: 0px -15px 0px -15px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.Home_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.Home_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.Home_mobilelistitembutton_9 {

}